ADMIN_EMAIL=
ADMIN_PASSWORD=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=
CONTACT_EMAIL=
EMAIL_HOST=
EMAIL_PASSWORD=
EMAIL_PORT=
EMAIL_USER=
FRONTEND_URL=
GEMINI_API_KEY=
JWT_SECRET=
MONGO_DB_NAME=
MONGO_URI=
NOTIFICATION_EMAIL=
PORT=3000
SMTP_HOST=
SMTP_PASSWORD=
SMTP_PORT=
SMTP_USER=
VITE_API_URL=
VITE_PROVIDER_WHATSAPP_NUMBER=
VITE_WHATSAPP_COUNTRY_CODE=
VITE_WHATSAPP_DEFAULT_MESSAGE=
VITE_WHATSAPP_NUMBER=
WHATSAPP_API_TOKEN=
WHATSAPP_BUSINESS_ACCOUNT_ID=
WHATSAPP_BUSINESS_NUMBER=
WHATSAPP_PHONE_NUMBER_ID=